body {
  font-family: "Source Sans Pro", sans-serif;
  color: whitesmoke;
  background-image: url("./assets/spacex.png");
  background-size: cover;
}

*::-webkit-scrollbar {
  display: none;
}

h1 {
  text-align: center;
}